<!doctype html>

<html lang="en-US">
  <head>
    <title>Postbox</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/pb_whitespace-reset.css">
  </head>

  <body>
    <header>
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <% if session[:success] %>
      <div class="flash success">
        <%= session.delete(:success) %>
      </div>
    <% end %>

    <% if session[:error] %>
      <div class="flash error">
        <%= session.delete(:error) %>
      </div>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
