<% content_for :header_links do %>
  <a href="/compose">Send Message</a>
<% end %>

<% if @messages %>
  <% @messages.each do |sender, message, file_name| %>
    <div>
      <p><strong>Sender: <%= sender %></strong></p>
      <p><%= message %></p>
      <form method="post" action="/delete">
        <input name="file_name" type="hidden" value="<%= file_name %>">
        <button type="submit">(delete)</button>
      </form>
    </div>

    <br>
  <% end %>
<% else %>
  <p>No new messages</p>
<% end %>
