<form method="post" action="/join">
  <input name="email" type="hidden" value="<%= @email %>">
  <input name="password" type="hidden" value="<%= @password %>">
  <label for="name">Enter your name:</label>
  <div>
    <input name="name" type="text" value="">
    <button type="submit">Join</button>
  </div>
</form>
