<form method="post" action="/login">
  <label for="email">Enter your email address:</label>
  <div>
    <input name="email" type="text" value="">
    <button type="submit">Login/Join</button>
  <div>
</form>
