<img src="/images/pb-logotype.png">

<form method="post" action="/login">
  <label for="email">Enter your email address:</label>
  <div>
    <input name="email" type="text" value="<%= @email %>">
  <div>

  <br>

  <label for="password">Enter password:</label>
  <div>
    <input name="password" type="password" value="">
  <div>

  <br>

  <input id="login" type="submit" value="Login or Join">
</form>
